version: '3.8'
services:
  backend:
    build: ../backend-api
    ports:
      - "3000:3000"
  ml-service:
    build: ../ml-service
    ports:
      - "8000:8000"
  frontend:
    build: ../frontend
    ports:
      - "3001:3000"
  db:
    image: mongo:5.0
    ports:
      - "27017:27017"
  redis:
    image: redis:7.0
    ports:
      - "6379:6379"